*{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #4B4B4B;
}
header{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
h1{
    font-size: 40px;
}
#scores{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#gameboard{
    display: grid;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 3vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
#tie-message p{
    font-size: 20px;
    margin-left: 26%;
}
.cell{
    border: 2px solid #4a7ebd;
    width: 7vw;
    height: 7vw;
    font-size: 5vw;
    text-align: center;
    
}
#scoreboard{
    display: grid;
    position: fixed;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    top: 25%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 600px;
}
#next{
    width: 100px;
    position: fixed;
    top: 100%;
    left: 30%;
    transform: translate(-50%,-1%);
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow:  1px 1px 0px  #949494a3;
}
#submit{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-10%,-50%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    box-shadow:  1px 1px 0px  #949494a3;
}
@media (min-width:320px){
    h1{
        position: fixed;
        top: 0%;
        width: 200px;
        transform: translate(-50%,-80%);
        text-align: center;
        font-size: 30px;
    }
    #submit{
        left: 45%;
    }
    #scoreboard{
        transform: translate(-29%,-20%);
    }   
    .cell{
        width: 100px;
        height: 110px;
        font-size: 90px;
        text-align: center;
    }
    #scores{
        grid-template-columns: 1fr 2fr;
        margin-left: 10%;
    }
}