*{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #4B4B4B;
}
header{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
h1{
    font-size: 40px;
}
#scores{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#gameboard{
    display: grid;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 3vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
#tie-message p{
    font-size: 20px;
    margin-left: 26%;
}
.cell{
    border: 2px solid #4a7ebd;
    width: 7vw;
    height: 7vw;
    font-size: 5vw;
    text-align: center;
    
}
#scoreboard{
    display: grid;
    position: fixed;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    top: 25%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 600px;
}
#next{
    width: 100px;
    position: fixed;
    top: 100%;
    left: 30%;
    transform: translate(-50%,-1%);
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow:  1px 1px 0px  #949494a3;
}
#submit{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-10%,-50%);
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow:  1px 1px 0px  #949494a3;
}
#end{
    position: fixed;
    top: 80%;
    left: 50%;
    margin-top: 2%;
    transform: translate(-10%,-50%);
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow:  1px 1px 0px  #949494a3;
}